.skills {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border-top: 1px solid rgba(0, 0, 0, 0.808);
	border-bottom: 1px solid rgba(206, 206, 206, 0.303);

	background-color: rgba(13, 15, 17, 0.273);
	color: var(--third-color);
	display: flex;
	font-family: var(--secondary-font);
	width: fit-content;
	border-radius: 1em;
	font-weight: 400;
}


.skills-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 0.5em;
	column-gap: 0.5em;
	margin-top: 1rem;
}

.links-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 1.5em;
	column-gap: 1em;
	margin-top: 1rem;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    /* overflow: hidden; */
}

.imageWrapper {
    max-height: calc(calc(300px * 18) / 32);
    width: 300px;
    height: auto;
    aspect-ratio: 40/18;
    position: relative;
    overflow: hidden;
    /* border-left: 2px solid var(--third-color);
    border-right: 2px solid var(--third-color);
    box-shadow: 0 0 20px var(--secondary-color); */
    border-radius: 12px;
    position: relative;
    /* background-image: linear-gradient(90deg, rgb(59, 59, 59) 0%, rgb(49, 49, 49) 50%, rgb(59, 59, 59) 100%); */
    /* background-size: 200%; */
    /* animation: shimmer 2s linear 0s infinite; */

}

.link {
    font-family: var(--secondary-font);
    transition: all .2s ease-in-out;
    font-size: .875rem;

}

.link::before {
    content: "";
    /* background: url(/arrow-right-svgrepo-com.svg) no-repeat center; */
    -webkit-mask: url(/new-tab.svg) no-repeat center;
    mask: url(/new-tab.svg) no-repeat center;
    -webkit-mask-size: cover;
    mask-size: cover;
    /* background-size: 100%; */
    background-color: var(--font-color);
    height: 1rem;
    width: 1rem;
    /* margin-left: 1rem; */
    margin-right: 0.35rem;
    display: inline-block;
    vertical-align: middle;
    transition: all .2s ease-in-out;
}

.link:hover{
    /* transform: translateX(00.25em); */
    color: var(--third-color);

}

.link:hover::before {
    background-color: var(--third-color);

}

.title {
    line-height: 1.7;
    /* color : var(--third-color) */
}

/* .title::after {
    content: "";
    background: url(/arrow-right-svgrepo-com.svg) no-repeat center;
    background-size: 150%;
    height: 1.5rem;
    width: 1rem;
    margin-left: 0.4rem;
    margin-right: 1rem;
    display: inline-block;
    vertical-align: middle;
    transition: all .2s ease-in-out;
} */
/* 
.projects:hover > div > .title::after {
    transform: translateX(00.25em);
} */

.projects {
    border-radius: 1rem; 
    padding-top: 2rem; 
    padding-bottom: 2rem; 
    padding-left:2rem; 
    padding-right: 2rem; 
    display: grid; 
    grid-template-rows: fit-content 1fr; 
    column-gap: 1.5rem; 
    transition: all .2s ease-in-out;
    position: relative;
    margin-top: 1rem;
    /* margin-bottom: 2rem; */

}

.projects-wrapper:hover .projects {
    opacity: 0.3;
}

.projects-wrapper:hover .projects:hover {
    opacity: 1;
}

.projects {
    border-radius: 1rem; 
    padding-top: 2rem; 
    padding-bottom: 2rem; 
    padding-left:2rem; 
    padding-right: 2rem; 
    display: grid; 
    grid-template-columns: 300px 1fr; 
    column-gap: 1.5rem; 
    transition: all .2s ease-in-out;
    position: relative;
    margin-top: 1rem;
    /* margin-bottom: 2rem; */

}


.projects::before {
    content: "";
    position: absolute;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}


.projects:hover::before {
    transition: all .2s;
    z-index: -1;
    border-left: 1px solid var(--third-color);
    border-right: 1px solid var(--third-color);
    border-top: 2px solid rgba(255, 255, 255, 0.062);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.02); */
	border-bottom: 1px solid rgba(0, 0, 0, 0.229);

    background-color: rgba(255, 255, 255, 0.062);
    /* box-shadow: 0 0 1rem var(--secondary-color); */
    /* background-color: rgb(0, 0, 0); */
}
/* 
.projects:hover > div > .title {
    color: var(--third-color);
} */

.projects > .imageWrapper {
    border: 2px solid rgba(255, 255, 255, 0);

}
.projects:hover > .imageWrapper {
    border: 2px solid rgba(255, 255, 255, 0.5);
    /* border-right: 1px solid rgba(255, 255, 255, 0.214); */
    /* border-top: 1px solid rgba(255, 255, 255, 0.062); */

    /* color: var(--third-color); */
}


@media (max-width: 768px) {

    .projects {
        border-radius: 1rem; 
        padding-top: 2rem; 
        padding-bottom: 2rem; 
        padding-left:2rem; 
        padding-right: 2rem; 
        display: grid;
        grid-template-columns: none; 

        grid-template-rows: 200px 1fr; 
        row-gap: 1.5rem; 
        transition: all .2s ease-in-out;
        position: relative;
        margin-top: 1rem;
        /* margin-bottom: 2rem; */
    
    }

    .imageWrapper {
        max-height: 200px;
        height: 200px;
        width: calc(calc(200px * 32) / 18);

    }

    .projects-wrapper:hover .projects {
        opacity: 1;
    }
    
    .projects-wrapper:hover .projects:hover {
        opacity: 1;
    }
    .projects::before {
        content: "";
        position: absolute;
        border-radius: 12px;
        width: 100%;
        height: 100%;
    /* } */
    /* .projects:hover::before { */
        transition: all .2s;
        z-index: -1;
        border-left: 1px solid var(--third-color);
        border-right: 1px solid var(--third-color);
        border-top: 2px solid rgba(255, 255, 255, 0.062);
        /* border-bottom: 1px solid rgba(255, 255, 255, 0.02); */
        border-bottom: 1px solid rgba(0, 0, 0, 0.229);
    
        background-color: rgba(255, 255, 255, 0.062);
        /* box-shadow: 0 0 1rem var(--secondary-color); */
        /* background-color: rgb(0, 0, 0); */
    }

    .projects {
        /* padding-bottom: 1rem; */
        margin-top: 1.5rem;
    }
    

}